@model PollFiction.Services.Models.DashboardViewModel
@{
    ViewData["Title"] = "Tableau de bord de "+@User.Claims.FirstOrDefault(u => u.Type.Equals("name")).Value;
    //Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h3>Tableau de bord - @User.Claims.FirstOrDefault(u => u.Type.Equals("name")).Value</h3>

<hr />
<div class="container">
    <div class="container-form">
        <form action="CodePoll" method="post" class="form1">
            <div>
                <input type="text" class="searchPoll" placeholder="Saisiez un code de sondage" />
                <input type="submit" value="Rechercher" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="container-form">
        <h4>Vos sondage crées</h4>
        
        @{

            if (!string.IsNullOrEmpty(Model.Error)){
                <div>
                    @Model.Error
                </div>
            }

            foreach(var poll in Model.listPollViewModels)
            {
                <div class="container-lien-poll">
                    @if (!poll.PollCreator.PollDisable)
                    {
                        <a href="/Poll/Vote?code=@poll.PollCreator.PollLinkAccess" class="lien-sondage" title="">
                            @poll.PollCreator.PollTitle
                        </a>
                    }
                    else
                    {
                        <span class="lien-sondage lien-sondage-disable">
                            @poll.PollCreator.PollTitle
                        </span>
                    }
                    <span class="vert vote">
                        @if(poll.PollCreatorVote != ""){ @poll.PollCreatorVote } 
                    </span>
                    <span class="small font-weight-bold" style="margin-right:15px;">
                        @poll.PollCreator.Polldate.ToString("dd/MM/yy") 
                    </span>
                    <div class="dashbord-image">
                        @if(!poll.PollCreator.PollDisable){

                        <a href="/Poll/LinksPoll?pollId=@poll.PollCreator.PollId" title="voter">
                            <img src="~/images/lien40.png" alt="Liens du sondage" title="Liens du sondage" class="img-list-poll-dashbord">
                        </a>
                        @*<img src="~/images/modify40.png" alt="Motifier le sondage" class="img-list-poll-dashbord">*@
                        <a href="/Poll/Vote?code=@poll.PollCreator.PollLinkAccess" title="voter">
                            <img src="~/images/vote64.png" alt="Motifier le sondage" class="img-list-poll-dashbord">
                        </a>
                            

                        <a href="/Poll/Vote?code=@poll.PollCreator.PollLinkDisable" title="Désactiver la sondage">
                            <img src="~/images/close60.png" alt="Désactiver le sonf" class="img-list-poll-dashbord">
                        </a>
                        }

                        <img src="~/images/combine48.png" alt="Motifier le sondage" class="img-list-poll-dashbord">
                        
                    </div>
                </div>
            }
        }
    </div>
</div>
