@model PollFiction.Services.Models.DashboardViewModel
@{
    ViewData["Title"] = "Tableau de bord de "+@User.Claims.FirstOrDefault(u => u.Type.Equals("name")).Value;
}

<h3>Tableau de bord - @User.Claims.FirstOrDefault(u => u.Type.Equals("name")).Value</h3>

<hr />
<div class="container">

    @{
        if (!string.IsNullOrEmpty(Model.Error)){
                <div class="container-form">
                    <div class="error text-center">
                        @Model.Error
                    </div>
                </div>
            }
    }
    <div class="container-form">
        <h4>Vos sondages crées</h4>
        
        @{
            foreach(var poll in Model.listPollViewModels)
            {
                @if (poll.PollCreator != null)
                {
                    <div class="container-lien-poll">
                        @if (!poll.PollCreator.PollDisable)
                        {
                            <a href="/Poll/Vote?code=@poll.PollCreator.PollLinkAccess" class="lien-sondage" title="">
                                @poll.PollCreator.PollTitle
                            </a>
                        }
                        else
                        {
                            <span class="lien-sondage lien-sondage-disable">
                                @poll.PollCreator.PollTitle
                            </span>
                        }
                        <span class="vert vote">
                            @if (poll.PollCreatorVote != "")
                            {
                                @poll.PollCreatorVote
                            } 
                        </span>
                        <span class="small font-weight-bold" style="margin-right:15px;">
                             Créé : @poll.PollCreator.Polldate.ToString("dd/MM/yy") 
                        </span>
                        <div class="dashbord-image">
                            @if (!poll.PollCreator.PollDisable)
                            {

                                <a href="/Poll/LinksPoll?pollId=@poll.PollCreator.PollId" title="voter">
                                    <img src="~/images/lien40.png" alt="Liens du sondage" title="Liens du sondage" class="img-list-poll-dashbord">
                                </a>
                                <a href="/Poll/Vote?code=@poll.PollCreator.PollLinkAccess" title="voter">
                                    <img src="~/images/vote64.png" alt="Motifier le sondage" class="img-list-poll-dashbord">
                                </a>


                                <a href="/Poll/Vote?code=@poll.PollCreator.PollLinkDisable" title="Désactiver la sondage" onclick="Confirm()">
                                    <img src="~/images/close60.png" alt="Désactiver le sonf" class="img-list-poll-dashbord">
                                </a>
                            }
                            else
                            {
                                <span class="font-weight-bold">
                                    clôturé
                                </span>
                            }

                            <a href="/Poll/Stats?code=@poll.PollCreator.PollLinkStat" title="Visualiser les résultats">
                                <img src="~/images/combine48.png" alt="Visualiser les résultats" class="img-list-poll-dashbord">
                            </a>
                        </div>
                    </div>
                }
            }
        }
    </div>
     <div class="container-form">
        <h4>Vos participations aux sondages invités</h4>
        
        @{
            foreach(var poll in Model.listPollViewModels)
            {
                @if (poll.PollGuest != null && poll.PollGuestVote != "")
                {
                    <div class="container-lien-poll">
                        @if (!poll.PollGuest.PollDisable)
                        {
                            <a href="/Poll/Vote?code=@poll.PollGuest.PollLinkAccess" class="lien-sondage" title="">
                                @poll.PollGuest.PollTitle
                            </a>
                        }
                        else
                        {
                            <span class="lien-sondage lien-sondage-disable">
                                @poll.PollGuest.PollTitle
                            </span>
                        }
                        <span class="vert vote">
                            @poll.PollGuestVote
                        </span>
                        <span class="small font-weight-bold" style="margin-right:15px;">
                           Créé : @poll.PollGuest.Polldate.ToString("dd/MM/yy") 
                        </span>
                        <div class="dashbord-image">
                            @if (!poll.PollGuest.PollDisable)
                            {
                                    <a href="/Poll/Vote?code=@poll.PollGuest.PollLinkAccess" title="voter">
                                        <img src="~/images/vote64.png" alt="Motifier le sondage" class="img-list-poll-dashbord">
                                    </a> 
                            }

                            <a href="/Poll/Stats?code=@poll.PollGuest.PollLinkStat" title="Visualiser les résultats">
                                <img src="~/images/combine48.png" alt="Visualiser les résultats" class="img-list-poll-dashbord">
                            </a>
                        </div>
                    </div>
                }
            }
        }
    </div>

@*    <div class="container-form">
        <h4>Vos invitations aux sondages</h4>*
        
        @{
            foreach(var poll in Model.listPollViewModels)
            {
                @if (poll.PollGuest != null && poll.PollGuestVote == "")
                {
                    <div class="container-lien-poll">
                        @if (!poll.PollGuest.PollDisable)
                        {
                            <a href="/Poll/Vote?code=@poll.PollGuest.PollLinkAccess" class="lien-sondage" title="">
                                @poll.PollGuest.PollTitle
                            </a>
                        }
                        else
                        {
                            <span class="lien-sondage lien-sondage-disable">
                                @poll.PollGuest.PollTitle
                            </span>
                        }
                        <span class="vert vote">

                        </span>
                        <span class="small font-weight-bold" style="margin-right:15px;">
                           Créé : @poll.PollGuest.Polldate.ToString("dd/MM/yy") 
                        </span>
                        <div class="dashbord-image">
                            @if (!poll.PollGuest.PollDisable)
                            {
                                    <a href="/Poll/Vote?code=@poll.PollGuest.PollLinkAccess" title="voter">
                                        <img src="~/images/vote64.png" alt="Motifier le sondage" class="img-list-poll-dashbord">
                                    </a> 
                            }

                            <a href="/Poll/Stats?code=@poll.PollGuest.PollLinkStat" title="Visualiser les résultats">
                                <img src="~/images/combine48.png" alt="Visualiser les résultats" class="img-list-poll-dashbord">
                            </a>
                        </div>
                    </div>
                }
            }
        }
    </div>*@
</div>
@section Scripts {
    <script>

        function Confirm(){
            resultat = window.confirm("Etes-vous sûr de vouloir clôturer le sondage ?", );

            if(resultat){
                return true;
            }
            else{
                console.log("descativé");
                this.event.returnValue = false;
            }
        }
    </script>
}
