@model PollFiction.Services.Models.StatViewModel

@{
    ViewData["Title"] = "Résultat du sondage - " + @Model.Poll.PollTitle;
}
<h4>Résultat - @Model.Poll.PollTitle</h4>
<hr />
<div class="container">
    <div class="container-form">
        <h5>Description</h5>
        <p>
            @Model.Poll.PollDescription
        </p>
    </div>
    <div class="container-form">

        <p>
            Nombre de votant : @Model.GuestChoices.GroupBy(x => x.GuestId).Count()
        </p>

        <ol>
            @{
                var a = @Model.GuestChoices.GroupBy(x => x.ChoiceId);

                foreach(var item in Model.statChoices)
                {
                    <li>@item.StringChoice : @item.ScoreChoice votes</li>
                }
            }
            
        </ol>
        
    </div>
</div>

@{
    if (User.Claims.FirstOrDefault(u => u.Type.Equals("name")) != null)
    {
        <div>
            <a asp-action="Dashboard">Revenir au tableau de bord</a>
        </div>
    }
}


